.cards, .lottoCards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card, .lottoCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    margin: 10px 0;
    box-shadow: 5px 10px 0px var(--primary-dark); 
    transition: box-shadow .1s linear, transform .1s linear;
    border: 5px var(--primary-bright) solid;
}

.card:hover, .lottoCard:hover{
    background-color: var(--primary-faded);
    box-shadow: 4px 7px 0px var(--primary-dark);
    transform: translateY(3px);
}

.card:active, .lottoCard:active{
    background-color: var(--primary-faded);
    box-shadow: 3px 3px 0px var(--primary-dark);
    transform: translateY(5px);
}

.cards a, .lottoCards a{
    text-decoration: none;
}

.cards h2, .lottoCards h2{
    color: var(--secondary);
    font-size: 34px;
    text-shadow: var(--font-shadow);
    color: var(--secondary);
}

@media (max-width: 768px) {
    .cards, .lottoCards{
        flex-direction: column;
    }

    .card, .lottoCard{
        width: 90vw;
        height: max(10vh,75px);
        margin: 1vh 0;
        border-radius: 20px;
    }
}

@media (min-width: 769px) {
    .cards, .lottoCards{
        flex-direction: row;
    }

    .card, .lottoCard{
        width: min(400px, 30vw);
        height: min(max(50vh, 95px),300px);
        margin: 1vh 1vw;
        border-radius: 40px;
    }
}