.cards, .lottoCards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card, .lottoCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    margin: 10px 0;
    box-shadow: 5px 10px 0px var(--primary-dark); 
    transition: box-shadow .1s linear, transform .1s linear;
    border: 5px var(--primary-bright) solid;
    flex-direction: column;
}

.card svg{
    width: min(20%, 65px);
    aspect-ratio: 1;
    overflow: visible;
}

.card path{
    filter: drop-shadow( 4px 8px 0px var(--primary-dark));
    fill: var(--secondary);
}

a .card:hover, a .lottoCard:hover{
    background-color: var(--primary-faded);
    box-shadow: 4px 7px 0px var(--primary-dark);
    transform: translateY(3px);
}

a .card:active, a .lottoCard:active{
    background-color: var(--primary-faded);
    box-shadow: 3px 3px 0px var(--primary-dark);
    transform: translateY(5px);
}

.cards a, .lottoCards a{
    text-decoration: none;
}

.cards h2, .lottoCards h2{
    font-size: 32px;
    text-shadow: var(--font-shadow);
    color: var(--secondary);
}

@media (max-width: 1199px) {
    .cards, .lottoCards{
        flex-direction: column;
    }

    .card, .lottoCard{
        width: max(60vw, 325px);
        height: max(10vh,75px);
        margin: 1vh 0;
        border-radius: 20px;
        flex-direction: row;
    }

    .card svg{
        margin-right: min(20px, 10vw);
    }
}

@media (min-width: 1200px) {
    .cards, .lottoCards{
        flex-direction: row;
    }

    .card, .lottoCard{
        width: min(400px, 30vw);
        height: min(max(50vh, 95px),300px);
        margin: 1vh 1vw;
        border-radius: 40px;
        flex-direction: column;
    }
}