.logo{
    margin: 0 auto;
    width: 30%;
    aspect-ratio: 1;
    max-width: 170px;
}

.formDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 70vw;
    padding: 40px;
}

h2{
    font-size: 40px;
    color: var(--secondary);
    text-shadow: var(--font-shadow);
    margin-top: 0;
}

.formDiv img{
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 85.3vh;
}

.name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

form.formDiv .inputs{
    width: 100%;
    position: relative;
    margin: 20px auto;
}

form.formDiv .name .inputs{
    display: flex;
    justify-content: center;
    align-content: center;
}

form.formDiv{
    display: none;
    background-color: var(--primary);
    box-shadow: 5px 10px 0px var(--primary-dark); 
    transition: box-shadow .1s linear, transform .1s linear;
    border: 5px var(--primary-bright) solid;
    border-radius: 10px;
}

form.formDiv.show{
    display: flex;
}

.input {
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px 0px var(--primary-dark) inset;
    background: var(--primary-faded);
    font-size: 20px;
    color: var(--secondary);
    text-shadow: var(--font-shadow);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    width: calc(100% - 24px);
    height: 40px;
    padding: 10px;
}
   
.user-label {
    position: absolute;
    left: 15px;
    color: var(--secondary);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    top: 4px;
    font-size: 20px;
    color: var(--secondary);
    text-shadow: var(--font-shadow);
}
   
.input:focus, input:valid {
    outline: none;
    border: 2px var(--secondary) solid;
}

input.submit:valid,.other {
    outline: none;
    border: 2px var(--primary-bright) solid;
}
   
.input:focus ~ label, input:valid ~ label, input:visited{
    transform: translateY(-100%) scale(1.1);
    /* background-color: var(--primary); */
    color: var(--secondary);
    /* border: 2px var(--secondary) solid; */
    border-radius: 5px;
    padding: 5px;
}

.submit{
    width: 30vw;
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--primary-faded);
    color: var(--secondary);
    text-shadow: var(--font-shadow);
    box-shadow: 5px 8px 0px var(--primary-dark); 
    transition: box-shadow .1s linear, transform .1s linear;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* .other{
    width: 10vw;
} */

.submit:hover{
    background-color: var(--primary-faded);
    box-shadow: 4px 4px 0px var(--primary-dark);
    transform: translateY(3px);
}

.submit:active{
    background-color: var(--primary-faded);
    box-shadow: 3px 3px 0px var(--primary-dark);
    transform: translateY(5px);
}

.error{
    color: var(--secondary);
}

@media (max-width: 768px) {
    form.formDiv .name .inputs{
        width: 100% ;
        margin: 0;
    }

    form.formDiv .name{
        width: 100% ;
        margin: 10px;
    }
}

@media (min-width: 769px) {
    form.formDiv .name .inputs{
        width: calc(50% - 10px);
    }
}