:root{
    --light-red: #C39C95;
    --dark-red: #CF291D;
    --light-grey: #797979;
    --dark-grey: #414141da;
    --white: #D3D3D3;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --imagePlaceholder: #222222;
    --background-color: rgba(0, 0, 0, 0.815);
    --background-color-header: #902c25;
    --background-color-about: #902c25;
    --background-color-event: #797979c3; 
    --background-color-date: #CF291D; 
    --font-color: #D3D3D3;
    --hover-color: #d3d3d3;
}
:root.light-mode {
    --background-color:  #D3D3D3;
    --background-color-header: #CF291D;
    --background-color-about: #cd8173;
    --background-color-event: #A0A0A0; 
    --background-color-date: #CF291D; 
    --font-color: black;
}

:root.dark-mode{
    --background-color: rgba(0, 0, 0, 0.815);
    --background-color-header: #902c25;
    --background-color-about: #902c25;
    --background-color-event: #797979c3; 
    --background-color-date: #CF291D; 
    --font-color: #D3D3D3;
}

* {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--font-color);
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    box-shadow: var(--shadow);
}

.btn-toggle{
    cursor: pointer;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

header {
    background-color: var(--background-color-header);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* Center vertically */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: top 0.3s ease;
    padding: 10px 0;
    height: 80px;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: top 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.logo {
    display: flex;
    justify-content: flex-start; /* Align logo to the left */
    align-items: center;
    margin: -10px 0px 60px 40px; 
}

.logo-image {
    width: 140px; /* Adjust the logo's width */
    aspect-ratio: 1;
    overflow: visible;
}

.navMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; /* Center vertically */
    flex-grow: 1;
    margin: -10px 40px 60px 0px;
}

a button{
    text-decoration: none;
    color: var(--white); /* Add your preferred text color */
    margin: 10px;
    text-align: center;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: blink;
    transition: transform 0.2s ease-out;
}

.navMain a:hover {
    text-decoration: none;
    transform: translateY(-10px);
    position: relative; /* Add relative positioning for pseudo-element */
}

.navMain a button{
    font-size: 25px;
    font-weight: 400;
}

.navMain a:hover button{
    color: var(--hover-color);
}

button {
    background-color: transparent;
    border: none;
}

/* Dropdown container (hidden by default) */
.dropdown-content {
    display: none; /* Hide by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* Add more styling for the dropdown items (e.g., padding, colors) here */
}

main{
    margin: auto;
    width: 100%;
    overflow-x: visible;
}

span{
    color: var(--font-color);
    text-shadow: 0.75px 0.75px var(--dark-red);
}

.menuButton{
    color: var(--white);
    position: relative;
}
/*-----------------START OF FOOTER----------------------*/
footer{
    margin: 0;
    position: relative;
    z-index: 90;
    box-shadow: var(--shadow);
    background-color: var(--imagePlaceholder);
    padding: 15px 15px;
    text-align: center;
    font-size: small;
    height: 50px;
}

.footerText{
    margin: 0;
    color: var(--white);
    font-size: 15px;
}
/*------------Side Container---------------------*/
.sideMenu {
    display: flex;
    flex-direction: column; /* To stack the mode and up-icon vertically */
    align-items: flex-end; /* To align them to the right side */
    position: fixed;
    bottom: 5px;
    right: 8px;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
    cursor: pointer;
}

.mode-up-container {
    display: flex;
    flex-direction: column; /* Place mode and up in a column */
    align-items: center; /* Center them horizontally */
    cursor: pointer;
}

.toggle .input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.toggle, .up {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #fff;
    line-height: 1;
    margin-bottom: 5px; /* Add margin to separate mode and up-icon */
    cursor: pointer;
}

.icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
    cursor: pointer;
}

.up_arrow{
    cursor: pointer;
}

.arrow-container {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container img {
    max-width: 100%;
    max-height: 100%;
}

.icon--moon {
    transition-delay: 200ms;
}

.icon--sun {
    transform: scale(0);
}

#switch:checked + .icon--moon {
    transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
}

/*---------------------END OF HOME || START OF SPONSOR---------------*/
.coverIMGSponsor {
    width: 100%;
    height: 700px;
    position: relative;
    overflow-y: hidden;
    display: flex; /* Use flexbox for side-by-side layout */
    flex-direction: row;
    @media (max-width: 768px) {
        flex-direction: column; /* Stack vertically on small screens */
    }
}

.sponsorPic {
    flex: 1; /* Take 50% of the available width */
    height: 100%;
    background-color: var(--background-color-about); /* Just for visualization */
    @media (max-width: 768px) {
        flex: none; /* Reset flex property */
        width: 100%; /* Take full width on small screens */
        height: 50%;
    }
}

.pageTitleSponsor {
    flex: 1; /* Take 50% of the available width */
    height: 100%;
    background-color: var(--background-color-event); /* Just for visualization */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
        flex: none; /* Reset flex property */
        width: 100%; /* Take full width on small screens */
        height: 50%;
        order: -1;
        padding-top: 40px;
    }
}

.sponsorTitle {
    text-align: center; 
    font-size: 70px;
    margin-bottom: 10px;
}

.sponsorTitleCont {
    text-align: center; 
    font-size: 30px;
    margin-top: -30px;
}
