:root{
    --light-red: #C39C95;
    --dark-red: #CF291D;
    --light-grey: #797979;
    --dark-grey: #414141da;
    --white: #D3D3D3;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --imagePlaceholder: #222222;
    --background-color: rgba(0, 0, 0, 0.815);
    --background-color-header: #902c25;
    --background-color-about: #902c25;
    --background-color-event: #797979c3; 
    --background-color-date: #CF291D; 
    --font-color: #D3D3D3;
    --hover-color: #d3d3d3;
}
:root.light-mode {
    --background-color:  #D3D3D3;
    --background-color-header: #CF291D;
    --background-color-about: #cd8173;
    --background-color-event: #A0A0A0; 
    --background-color-date: #CF291D; 
    --font-color: black;
}

:root.dark-mode{
    --background-color: rgba(0, 0, 0, 0.815);
    --background-color-header: #902c25;
    --background-color-about: #902c25;
    --background-color-event: #797979c3; 
    --background-color-date: #CF291D; 
    --font-color: #D3D3D3;
}