<head>
    <link rel="stylesheet" type="text/css" href="../static/css/partials/footer.css" media="all">
</head>

<footer>          
    <div class="container">
        <div class="rights">
            <p class="footerText">Copyright © 2023 by NIGHTMARE NIGHTMARE NIGHTMARE. All rights reserved.</p>
        </div>
        <div class="info">
            <div class="privacy">
                <a href="/privacy" id="foot">
                    Privacy Policy   
                </a>
            </div>  
            <div class="spacer">
                <p>|</p>
            </div> 
            <div class="terms">
                <a href="/terms" id="foot">
                    Terms & Conditions
                </a>
            </div>
            <div class="spacer">
                <p>|</p>
            </div> 
            <div class="gambling">
                <a href="/gambling" id="foot">
                    Responsible Gambling
                </a>
            </div>
        </div> 
    </div>               
</footer>
