<head>
    <link rel="stylesheet" type="text/css" href="../static/css/partials/footer.css" media="all">
</head>

<div class="sideMenu">
    <div class = "mode">
        <label class="toggle" for="switch">
            <input id="switch" class="input" type="checkbox">
            <div class="icon icon--sun" aria-label="dark-theme">
                <svg height="24" width="24" fill="var(--primary-dark)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z"></path>
                </svg>
            </div>
            <div class="icon icon--moon" aria-label="scratchman">
                <svg height="24" width="24" fill="var(--primary-dark)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" fill-rule="evenodd"></path>
                </svg>
            </div>                    
        </label>
    </div>
    <div id="scroll-to-top" class="up">
        <div class="up-icon">
            <div class="arrow-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="var(--primary-dark)" class="bi bi-arrow-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                </svg>
            </div>
        </div>
    </div>
</div>

<footer>          
    <div class="container">
        <div class="rights">
            <p class="footerText">Copyright © 2023 by NIGHTMARE NIGHTMARE NIGHTMARE. All rights reserved.</p>
        </div>
        <div class="info">
            <div class="privacy">
                <a href="/privacy" id="foot">
                    Privacy Policy   
                </a>
            </div>  
            <div class="spacer">
                <p>|</p>
            </div> 
            <div class="terms">
                <a href="/terms" id="foot">
                    Terms & Conditions
                </a>
            </div>
            <div class="spacer">
                <p>|</p>
            </div> 
            <div class="gambling">
                <a href="/gambling" id="foot">
                    Responsible Gambling
                </a>
            </div>
        </div> 
    </div>               
</footer>
