{% extends "base.html" %}
{% block title %}HOME - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" media="all">
</head>
<body>
    {% include "partials/search.html" %}

    <div class="lottoCards">
        {% for item in tickets %}
            <a href="{% url 'browse' name=item.name|slugify %}">
                <div class="lottoCard">
                    <h2>{{ item.name }}</h2>
                </div>
            </a>
        {% endfor %}
    </div>
</body>
{% endblock %}