{% extends "base.html" %}
{% block title %}Home - {% endblock %}
{% block content %}
<head>

</head>
<body>
    <div class="cards">
        <a href="/browse">
            <div class="card">
                <h2>Browse</h2>
            </div>
        </a>
        <a href="/purchase-history">
            <div class="card">
                <h2>Order History</h2>
            </div>
        </a>
        <a href="/profile">
            <div class="card">
                <h2>Profile</h2>
            </div>
        </a>        
    </div>

    <div class="searchCon">
        <!-- form action: {% url 'home' %} -->
        <form action="" method="post" onsubmit="showLoading()" autocomplete="on">
            {% csrf_token %}
            <div class="formCon">
                <svg>Add svg</svg>
                <input type="search">
            </div>
        </form>
    </div>

    <div class="lottoCards">
        {% for item in tickets %}
            <a href="{% url 'home' name=item.name|slugify %}">
                <div class="lottoCard">
                    {{ item.name }}
                </div>
            </a>
        {% endfor %}
    </div>
</body>
{% endblock %}