{% extends "base.html" %}
{% block title %}Purchase Ticket - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/purchase.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../static/css/partials/footer.css" media="all">
</head>
<body>
    <a href="/browse" class="backButton">Back to Browse</a>
    
    <div>
        <h3>Ticket Information</h3>
        <table>
            <tr>
                <td>Ticket:</td>
                <td></td>
                <td>{{ ticket.name }}</td>
            </tr>
            <tr>
                <td>Cost:</td>
                <td></td>
                <td>${{ ticket.cost }}</td>
            </tr>
        </table>
    </div>
    
    <div>
        <h3>Payment Information</h3>
        {% if cardInfo %}
            <p>Card Number: {{ cardInfo.formatted_card_number }}</p>
            <p>Cardholder Name: {{ cardInfo.cardholder_name }}</p>
            <p>Expiration Date: {{ cardInfo.formatted_expiration_date }}</p>
            <button onclick="changeCard()" class="backButton">Change payment information</button>
            <form method="post" action="{% url 'purchase' ticket.name %}" class="cardInfoForm">
                {% csrf_token %}
                
                <label for="card_number">Card Number:</label>
                <input type="text" id="card_number" name="card_number" placeholder="1234567891234567" required>
                <br>
                
                <label for="cardholder_name">Cardholder Name:</label>
                <input type="text" id="cardholder_name" name="cardholder_name" placeholder="Scratchman" required>
                <br>
            
                <label for="expiration_date">Expiration Date:</label>
                <input type="month" id="expiration_date" name="expiration_date" placeholder="MM/YY" required>
                <br>
            
                <button type="submit" class="saveCard">Save Card</button>
            </form>
            {% if cardUpdated %}
                <p>Card updated successfully!</p>
            {% endif %}
            {% if cardError %}
                <p>Error updating card.</p>
            {% endif %}
        {% else %}
            <form method="post" action="{% url 'purchase' ticket.name %}">
                {% csrf_token %}
                
                <label for="card_number">Card Number:</label>
                <input type="text" id="card_number" name="card_number" placeholder="1234567891234567" required>
                <br>
                
                <label for="cardholder_name">Cardholder Name:</label>
                <input type="text" id="cardholder_name" name="cardholder_name" placeholder="Scratchman" required>
                <br>
            
                <label for="expiration_date">Expiration Date:</label>
                <input type="month" id="expiration_date" name="expiration_date" placeholder="MM/YY" required>
                <br>
            
                <button type="submit" class="saveCard">Save Card</button>
            </form>
            {% if cardError %}
                <p>Error saving card.</p>
            {% endif %}
        {% endif %}
    </div>
    
    <form method="post" action="{% url 'purchase' ticket.name %}">
        {% csrf_token %}
        
        <div>
            <h3>Payment Details</h3>
            <table>
                <tr>
                    <td>Subtotal:</td>
                    <td></td>
                    <td>${{ ticket.cost }}</td>
                </tr>
                <tr>
                    <td>Tax:</td>
                    <td></td>
                    <td>${{ tax }}</td>
                </tr>
                <tr>
                    <td>Total:</td>
                    <td></td>
                    <td>${{ ticketCost }}</td>
                </tr>
            </table>
        </div>
        

        {% if ticketLimit %}
            <p class="purchaseLimit">Ticket cannot be purchased. Ticket purchase limit hit.</p>
            <a href="/responsible" class="backButton">Gamble Responsibly</a>
        {% else %}
            {% if cardInfo and not cardExpError%}
                <button type="submit" class="purchaseButton">Purchase</button>
            {% else %}
                {% if cardExpError %}
                    <p class="purchaseLimit">Card is expired.</p>
                {% endif %}
                <p class="purchaseLimit">Please add a card to proceed with the purchase.</p>
            {% endif %}
        {% endif %}
    </form>
</body>
<script>
    function changeCard(){
        const cardForm = document.querySelector('.cardInfoForm');
        cardForm.classList.toggle('show');
    }
</script>
{% endblock %}