{% extends "base.html" %}
{% block title %}HOME - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/history.css" media="all">
</head>
<body>
    {% if orders %}
        <ul>
            {% for order in orders %}
                <li>
                    Order ID: {{ order.id }}<br>
                    Ticket: {{ order.ticket }}<br>
                    Cost: ${{ order.ticketCost }}<br>
                    Order Date: {{ order.order_date }}<br>
                    <!-- Add other order details as needed -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul>
            <li>No purchase history for this user.</li>
        </ul>
    {% endif %}
</body>
{% endblock %}