<head>

</head>

<body>
    <h2 style="margin-top: 25px; margin-bottom: 25px; text-align: center;">Getting Help</h2>
    <p>At LPS, we are committed to fostering a responsible and enjoyable gambling experience. We recognize that gambling should be a form of entertainment and recreation, and we encourage our customers to engage in it responsibly.</p>
    <p>We believe in the importance of maintaining control over one's gambling habits and urge our customers to set realistic limits on their time and expenditure. If you ever feel that your gambling activities are causing distress or negatively impacting your life, we encourage you to seek help and support.</p>
    
</body>