{% extends "base.html" %}
{% block title%}Privacy - {% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/responsible.css" media="all">
</head>

<div class = "content-container">
    <h2 style="margin-top: 25px; margin-bottom: 25px; text-align: center;">Getting Help</h2>
    <p>At LPS, we are committed to fostering a responsible and enjoyable gambling experience. We recognize that gambling should be a form of entertainment and recreation, and we encourage our customers to engage in it responsibly.</p>
    <p>We believe in the importance of maintaining control over one's gambling habits and urge our customers to set realistic limits on their time and expenditure. If you ever feel that your gambling activities are causing distress or negatively impacting your life, we encourage you to seek help and support.</p>

    <h1>National Council on Problem Gambling</h1>
    <p><a href="https://www.ncpgambling.org" target="_blank">www.ncpgambling.org</a></p>
    <p><strong>24/7 Confidential Helpline:</strong> Call or text 800-522-4700</p>

    <h1>International Centre for Youth Gambling Problems and High-Risk Behaviors</h1>
    <p><a href="https://youthgambling.com" target="_blank">youthgambling.com</a></p>

    <h1>Kindbridge</h1>
    <p>Network of mental health treatment providers focused on gambling and gaming</p>
    <p><a href="https://kindbridge.com" target="_blank">kindbridge.com</a></p>
    <p>Email: <a href="mailto:help@Kindbridge.com">help@Kindbridge.com</a></p>
    <p>Call: 877-426-4258</p>

    <h1>Gamblers Anonymous</h1>
    <p><a href="https://www.gamblersanonymous.org" target="_blank">www.gamblersanonymous.org</a></p>
    <p>Austin: 512-860-2958</p>
    <p>DFW & West Texas: 817-371-0624</p>
    <p>Houston: 855-442-7105</p>
    <p>San Antonio: 210-705-4429</p>

    <h1>Gam-Anon</h1>
    <p><a href="http://www.Gam-anon.org" target="_blank">www.Gam-anon.org</a></p>
    <p>For family and friends of those with gambling problems</p>
    <p>Call: 718-352-1671</p>

    <h1>International Center for Responsible Gaming</h1>
    <p><a href="http://www.icrg.org" target="_blank">www.icrg.org</a></p>
    <p>Research resource</p>
    <p>Email: <a href="mailto:info@icrg.org">info@icrg.org</a></p>

    <p>LPS is a member of the National Council on Problem Gambling, the North American Association of State and Provincial Lotteries, and the World Lottery Association and actively supports the problem gambling initiatives of these organizations.</p>

    

</div>
{% endblock %}