{% extends "base.html" %}
{% block title %}{{ticket.name}} - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" media="all">
</head>
<body>
    <a href="/browse" class="backButton">Back to Browse</a>
    <div class="lottoCard active">
        <h2>{{ ticket.name }}</h2>
        <div>
            <p>Est. Annuitized Jackpot</p>
            <h3>${{ ticket.formatted_winning_amount }}</h3>
            <p>Price: ${{ ticket.cost }}</p>
            <p>Next Draw: {{ ticket.next_draw_date }}</p>
            <hr>
            <p>Results for: {{ ticket.previous_draw_date }}</p>
            <div class="numbers">
                <p>{{ ticket.previuous_draw_number_1 }}</p>
                <p>{{ ticket.previuous_draw_number_2 }}</p>
                <p>{{ ticket.previuous_draw_number_3 }}</p>
                <p>{{ ticket.previuous_draw_number_4 }}</p>
                <p>{{ ticket.previuous_draw_number_5 }}</p>
                {% if ticket.powerball %}
                    <p class="powerball">{{ ticket.previuous_draw_number_6 }}</p>
                {% else %}
                    <p>{{ ticket.previuous_draw_number_6 }}</p>
                {% endif %}
            </div>
            <a href="/purchase/{{ticket.name}}" class="purchaseButton">Purchase Ticket</a>
        </div>
    </div>
</body>
{% endblock %}