{% extends "base.html" %}
{% block title %}HOME - {% endblock %}
{% block content %}
  <head>
    <title>Terms & Conditions</title>
    <link rel="stylesheet" type="text/css" href="../static/css/terms.css">
  </head>
  <div id="content-container">

    <h1>Terms and conditions</h1>
    <hr style="width:80%;text-align:center;height:3px;border:none;">

    <p>This privacy policy outlines how we collect, use, and protect any information that you provide when you use this website.</p>

    <h2>Information We Collect</h2>
    <hr style="width:50%;text-align:center;height:3px;border:none;">


    <p>We may collect the following information:</p>
    <ul>
      <li>Contact information, including email address</li>
      <li>Demographic information, such as postcode, preferences, and interests</li>
      <li>Other information relevant to customer surveys and/or offers</li>
    </ul>

    <h2>How We Use Collected Information</h2>
    <hr style="width:70%;text-align:center;height:3px;border:none;">


    <p>We use the collected information for the following purposes:</p>
    <ul>
      <li>Internal record keeping</li>
      <li>Improvement of our products and services</li>
      <li>Sending promotional emails about new products, special offers, or other information which we think you may find interesting</li>
      <li>Customizing the website according to your interests</li>
    </ul>

    <h2>Security</h2>
    <hr style="width:40%;text-align:center;height:3px;border:none;">


    <p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>

    <h2>Controlling Your Personal Information</h2>
    <hr style="width:70%;text-align:center;height:3px;border:none;">


    <p>You may choose to restrict the collection or use of your personal information:</p>
    <ul>
      <li>Whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used for direct marketing purposes</li>
      <li>If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at NIGHTMARElotto@gmail.com</li>
    </ul>

    <h2>Changes to This Privacy Policy</h2>
    <hr style="width:50%;text-align:center;height:3px;border:none;">


    <p>We may update this privacy policy from time to time by posting a new version on this website. You should check this page occasionally to ensure that you are happy with any changes.</p>

    <p>This policy is effective from 11/15/2023.</p>
  </div>

{% endblock %}