{% extends "base.html" %}
{% block title %}{{ticket_item.name}} - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/ticket.css" media="all">
</head>
<body>
    <div class="page">
        <div class="back">
            <span>
                <a href="{% url 'browse' %}">Browse</a> / {{ticket_item.name}}
            </span>
        </div>
        <div class="card">
            <h2>
                {{ ticket_item.name }}
            </h2>
            <p>
                Winning Amount: ${{ ticket_item.formatted_winning_amount }}
            </p>
            <p>
                Price: ${{ ticket_item.cost }}
            </p>
        </div>
    </div>
</body>

{% endblock %}